USE [Dota2DataBase]
GO
/****** Object:  Table [dbo].[Hero]    Script Date: 12/28/2021 1:24:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hero](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Avatar] [image] NULL,
	[Strength] [int] NOT NULL,
	[Agility] [int] NOT NULL,
	[Intelligence] [int] NOT NULL,
	[HealthPoint] [float] NOT NULL,
	[ManaPoint] [float] NOT NULL,
	[ArmorPoint] [float] NOT NULL,
	[AttackSpeed] [float] NOT NULL,
	[MoveSpeed] [float] NOT NULL,
 CONSTRAINT [PK_Hero] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Hero] ON 

SET IDENTITY_INSERT [dbo].[Hero] OFF
GO
